.head {
    display: flex;
}

.logo {
    padding: 40px 40px 40px 0;
}
.navBar {
    width: 80%;
    text-align: right;
    font-size: 22px;
    font-weight: 600;
    margin: 27px 0;
}

.navItem {
  color: var(--menu-grey-color);
  margin-left: 15px;
}
.navHome {
    color: var(--dark-green-color);
}
.navLogin {
    text-decoration: underline;
    font-size: 17px;
    color: var(--yellow-color);
    margin: 0 30px;
}
