.btn {
    display: inline-block;
    padding: 0.6em 1.3em;
    background-color: var(--dark-green-color);
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Hind', sans-serif;
}
.btn:hover {
    background-color: var(--yellow-color);
    transition: all 0.3s linear;
}
.btn-yellow {
    background-color: var(--yellow-color);
}
.btn-yellow:hover {
    background-color: var(--dark-green-color);
}
.btn-arrow {
    background-color: var(--light-green-color);
    color: var(--dark-green-color);
}
.btn-arrow:hover {
    background-color: var(--dark-green-color);
    color: #ffffff;
}
.btn-syllabus {
    background-color: transparent;
    color: var(--titles-color);
    border: solid 1px var(--dark-green-color);
}
.btn-syllabus:hover {
    background-color: var(--dark-green-color);
    color: #ffffff;
}
.btn-white {
    background-color: #ffffff;
    color: var(--dark-green-color);
}
.btn-white:hover {
    background-color: var(--yellow-color);
    color: #ffffff;
}
.btn-subscribe {
    background-color: var(--yellow-color);
    color: white;
    border-radius: 30px;
}
.btn-subscribe:hover {
    color: var(--titles-color);
}
