/* base */
@import '../base/base.css';
@import '../base/layout.css';

@import '../base/header.css';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

/* 3rd-party */
/* components */
@import '../components/socials.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* HEADER-start */
/* HEADER-end */

/* HERO-start */
.hero {
    padding-top: 230px;
    width: 100%;
}
.hero > .row {
    display: flex;
    align-items: center;
}
.left-hero {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}
.stars {
    color: var(--yellow-color);
}
.reviewers-number {
    color: var(--under-titles-color);
    font-weight: 400;
    padding-left: 5px;
}
.title {
    font-size: 60px;
    line-height: 90px;
    padding-top: 0px;
    font-weight: 600;
    font-family: 'Hind', sans-serif;
    color: var(--titles-color);
}
.under-title {
    font-weight: 400px;
    margin-bottom: 10px;
    color: var(--under-titles-color);
}
.don {
    font-weight: 600;
    color: var(--dark-green-color);
}
.description {
    font-weight: 300;
    color: var(--description-color);
    margin-bottom: 35px;
}
.video-image {
    position: relative;
}
.left-video-bg-img {
    position: absolute;
    left: -80px;
    top: -60px;
}
.right-video-bg-img {
    position: absolute;
    right: -70px;
    bottom: -70px;
}
.video-pic {
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    background-color: transparent;
}
.play-btn {
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    cursor: pointer;
    color: red;
}
.hero > .row > .col-12 > .left-hero > .financial-aid-link {
    color: var(--titles-color);
    font-size: 18px;
    font-weight: 600px;
    font-family: 'Hind', sans-serif;
    text-decoration: underline;
    padding-left: 35px;
}

@media (max-width: 991.9px) {
    .left-video-bg-img {
        display: none;
    }
}
@media (max-width: 991.9px) {
    .right-video-bg-img {
        display: none;
    }
}
/* HERO-end */

/* INFO-start */
.infocont {
    margin: 40px;
}
.herinfo {
    font-family: 'Ubuntu', sans-serif;
    padding-top: 50px;
    font-weight: 300;
    text-align: center;
}
.herinfo > h3 {
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
/* INFO-ME-end */

/* Clock-start */
/* Clock-end */

/* Course-start */
.syllCours {
    font-size: 40px;
}
.btn-syllabsDownload {
    float: right;
    margin-top: 15px;
}
.syllabus {
    position: sticky;
    padding: 230px;
}
.play-to-top {
    float: right;
    font-size: 20px;
    text-decoration: none;
    width: 70px;
    height: 70px;
}

.container > .syllabus {
    padding: calc(5% - 1em);
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    background-color: white;
    border-radius: 15px;
    font-size: 20px;
    line-height: 190%;
    box-shadow: 0px 17px 40px 0px rgb(210, 211, 210);
}

.syllabcont {
    font-size: 30px;
    font-weight: 500;
    max-width: 900px;
}
.syllabstime > span {
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    margin-right: 5%;
    padding-top: 20px;
}

.container > h3 {
    font-family: 'Hind', sans-serif;
    font-size: 30px;
}

.week_syllabus {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    line-height: 190%;
    padding-block: 40px 0px;
}

.playlist {
    position: relative;
    display: flex;

    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    justify-content: space-between;
}

.playoption {
    gap: 40px;
    display: flex;
}
.play {
    padding-right: 25px;
    justify-content: center;
}
.preview {
    font-weight: 500;
    text-align: center;
    width: 75px;
    padding-top: 10px;
}
a:link {
    text-decoration: none;
}
hr.new5 {
    border: 1px solid;
    padding-left: 200px;
    margin-block: 30px;
    color: rgba(119, 119, 119, 0.171);
}

/* Course-end */

/* Syllabus-start */
/* Syllabus-end */

/* Benefits-start */
/* Benefits-end */

/* Pricing-start */
/* Pricing-end */

/* Reviews-start */
.sr-rw {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.sr-col {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 50px;
    width: calc(50% - 15px);
}
.sr-img-stars {
    display: flex;
    flex-wrap: wrap;
}
.rs-name {
    color: var(--reviewers-name-color);
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
}
.rs-comment {
    color: var(--under-titles-color);
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
}
/* Reviews-end */

/* Raitings-start */
/* Raitings-end */

/* Email-start */
/* Email-end */

/* Instructor-start */
/* Instructor-end */

/* FOOTER-start */
footer > .row > .col-12 {
    height: 240px;
}
h3 {
    color: var(--titles-color);
    font-family: 'Hind', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 25px;
}
.footer-description {
    color: var(--under-titles-color);
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
    margin-top: 25px;
    font-weight: 300;
}
footer > .row > .col-12 > a {
    color: var(--under-titles-color);
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;
    font-weight: 300;
    transition: 0.3s;
}
footer > .row > .col-12 > a:hover {
    color: var(--dark-green-color);
}
.newsletter-description {
    color: var(--under-titles-color);
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    padding-bottom: 20px;
}
.newsletter-form {
    border: none;
    border-radius: 50px;
    font-size: 18px;
    height: 60px;
    line-height: 1em;
    padding: 1.3em;
}
::placeholder {
    color: #ffffff;
    font-weight: 300;
}
input[type='email'] {
    color: #ffffff;
    outline: 0;
    font-weight: 300;
}
.newsletter-email {
    background-color: var(--dark-green-color);
    cursor: text;
    width: 100%;
    margin-right: -112px;
    padding-left: 20px;
    padding-right: 20px;
}
.subscribe {
    background-color: var(--yellow-color);
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    position: absolute;
}
.subscribe:hover {
    color: var(--titles-color);
}
/* FOOTER-end */
