/* base */
@import '../base/base.css';
@import '../base/layout.css';
/* 3rd-party */
/* components */

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* HEADER-start */
/* HEADER-end */

/* HERO-start */

.video-image {
    position: relative;
}
.play-btn {
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    cursor: pointer;
    color: red;
}
.aid-link {
    color: var(--titles-color);
    text-decoration: underline;
}

/* HERO-end */

/* INFO-start */
/* INFO-ME-end */

/* Clock-start */
/* Clock-end */

/* Course-start */
/* Course-end */

/* Syllabus-start */
/* Syllabus-end */

/* Benefits-start */
/* Benefits-end */

/* Pricing-start */
/* Pricing-end */

/* Reviews-start */
/* Reviews-end */

/* Raitings-start */
/* Raitings-end */

/* Email-start */
/* Email-end */

/* Instructor-start */
/* Instructor-end */

/* FOOTER-start */
/* FOOTER-end */
