/* base */
@import '../base/base.css';
@import '../base/layout.css';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
/* 3rd-party */
/* components */

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* HEADER-start */
/* HEADER-end */

/* HERO-start */
/* HERO-end */

/* INFO-start */
/* INFO-ME-end */

/* Clock-start */
/* Clock-end */

/* Course-start */
.container > .syllabus{
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    background-color: white;
    border-radius: 15px;
    font-size: 20px;
    line-height: 190%;
    box-shadow: 5px 10px 20px 3px rgb(210, 211, 210);
}
.container > h3{
    font-family: 'Hind', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.week_syllabus{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    line-height: 190%;

}
.playlist{
   display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    display: inline;
    line-height: 20px;
    padding: 18px;
}
.playotion{
    padding-left: 40px;
    display: flex;
    justify-content:center;
}


/* Course-end */

/* Syllabus-start */
/* Syllabus-end */

/* Benefits-start */
/* Benefits-end */

/* Pricing-start */
/* Pricing-end */

/* Reviews-start */
/* Reviews-end */

/* Raitings-start */
/* Raitings-end */

/* Email-start */
/* Email-end */

/* Instructor-start */
/* Instructor-end */

/* FOOTER-start */
/* FOOTER-end */